<mat-accordion class="message">
    <mat-expansion-panel class="error">
        <mat-expansion-panel-header>
            <mat-panel-title class="error title">
                Error
            </mat-panel-title>
            <mat-panel-description class="error">
                {{messageService.message}}
            </mat-panel-description>
            <button mat-icon-button>
                <mat-icon>close</mat-icon>
            </button>
        </mat-expansion-panel-header>
    </mat-expansion-panel>
</mat-accordion>
